{% extends 'info/layout.html' %}
{% load static %}

<link rel="stylesheet" href="{% static 'info/css/info.css' %}">

{% block content %}
<form action="{% url 'info:login' %}" method="post">
    {% csrf_token %}
    <div class="wrapper">
        <div class="left">
            <h3>Rocket Station</h3>   
            <img src="https://i.imgur.com/eN4AKys.png" alt="Rocket_image">
        </div>
        <div class="right">
            <div class="tabs">
                <ul>
                    <li class="login_li">Login</li>
                </ul>
            </div>
            <div class="login">
                <div class="input_field">
                    <input type="text" name="username" id="username" value="" placeholder="E-mail" class="input">
                </div>
                <div class="input_field">
                    <input type="password" name="password" id="password" value="" placeholder="Password" class="input">
                </div>
                <input type="submit" value="Login" class="input"><br>
                <a href="{% url 'info:register' %}">Register</a>
                <a href="{% url 'info:password_reset' %}">Forgot your password</a>
            </div>
        </div>
    </div>
</form>
{% endblock %}
